@font-face {
	font-family: "Roboto";
	src: url('fonts/Roboto-Regular.ttf');
}

:root {
	--titlebar-bg-color: #9965f4;
}

.bg-color-title-bar {
	background-color: var(--titlebar-bg-color);
	color: #fff;
}

.fs-7 {
	font-size:12px;
}

.fs-8 {
	font-size:12px;
}

.text-bg-success { 
	background-color: RGBA(var(--bs-success-rgb), var(--bs-bg-opacity, 1)) !important;
}

.text-bg-danger {
	background-color: RGBA(var(--bs-danger-rgb), var(--bs-bg-opacity, 1)) !important;
}

.autocomplete {
	border: solid 1px #ddd;
	border-radius: 0 0 5px 5px;
	display: none;
	position: absolute;
	background-color: #fff;
	cursor: default;
	width: 20%;
}

.autocomplete-item {
	list-style: none;
	margin-left: -32px;
	padding: 5px;
	padding-left: 15px;
}

.autocomplete-item:hover {
	background-color: #fff2df;
}

.main-menu-icon {
	width: 17px;
	color: #444;
	margin-top: -1px;
}

.icon-vertical-align {
	width: 17px;
	color: #444;
	margin-top: -3px;
}

body {
 background:#edf2f9;
}

a {
	text-decoration: none;
	color: #000;	
}

.border-custom {
	border-color: var(--titlebar-bg-color) !important;
	border-width: 2px !important;
	border-radius: 6px !important;
}

.table-custom, .bg-custom {
	background: #daedfc;
}

.bg-custom-menu {
	background: #f6f8fa;
}

.table-link-item {
	text-decoration: none !important;
}

.bg-blanchedalmond {
	background-color: blanchedalmond;
}

.alert-custom {
	background-color:  #fffae6;
	border-left: 5px solid #ffdb4d;
	border-radius: 0%;
}

.card-header {
	 background-color: var(--titlebar-bg-color);
	 color: #fff;
}

.card-header-title{
	width: 100%;
	margin-top:4px;
	margin-bottom:4px;
	background-color: var(--titlebar-bg-color);
}

.card-header-icon {
	margin:4px;
}

.card-header {
	display:flex;
}

.calendar {
	background-color: #fff;
	border: solid 1px #ddd;
	border-radius: 5px;
}

.calendar .week {
	display: inline-flex;
	justify-content: space-evenly;
	width: 100%;
}

.calendar .day {
	border: solid 1px #ddd;
	display: inline-flex;
	width: 14.2%;
	padding: 10px;
	height: 100px;
	justify-content: space-between;
	flex-wrap: wrap;
}

.calendar .day .active {
	background-color: blanchedalmond;
}

.calendar .name {
 border: solid 1px #ddd;
 display: inline-flex;
 width: 14.2%;
 padding: 5px;
 justify-content: space-around;
 background-color: blanchedalmond;
}

.calendar .date {
 background-color: #dddddd;
 border-radius: 4px;
 text-align: center;
 width: 50px;
 height: 25px;
}

.row .categories {
 padding: 10px 0px 5px 0px;
 margin: 0px;
}

.row .categories:hover {
	padding: 10px 0px 5px 0px;
	background-color: #f5f5f5;
	border-radius: 3px;
	margin: 0px;
}

.btn-primary {
	background-color: var(--titlebar-bg-color);
	border-color: var(--titlebar-bg-color);
}